{% extends "inventory/index.html" %}
{% load static %}

{% block content %}
<section id="sales_report">
    <div class="main">
        <a href="/index.html"><h1>Anjie<span>Stores</span></h1></a>
        
        <div class="full-container">
             <div class="header-search">
                 <!-- <i class="fas fa-search"></i> -->
                 <form action="" method="get">
                    {{myFilterPOS.form}}
                    <button type="submit">Search</button>
                </form>
                 {% comment %} <input type="text" placeholder="Search Category..."> 
                 <button type="button" class="">Search</button> {% endcomment %}

                 <div class="category-cards">
                     <div class="top-category-card">
                         <h5>Electronics</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Beverages</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Groceries</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Toiletries</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Furniture</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Fruits</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Vegetables</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Meat & Fish</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Toys</h5>
                     </div>

                     <div class="top-category-card">
                         <h5>Toy</h5>
                     </div>
                 </div>

                 <div class="table-container">
                     <table>
                         <tr>
                           <th>id</th>
                           <th>Product Name</th>
                           <th>Quantity</th>
                         </tr>
                         {% for product in products %}
                            <tr>
                            <td>{{product.productsID}}</td>
                            <td>{{product.productName}}</td>
                            <td>
                                {% comment %} changed from a tag to button tag {% endcomment %}
                                {% include "inventory/partial.html" %}
                            </td>
                            </tr>
                         {% endfor %}
                     </table>
                 </div>

             </div>
             
             <!-- selected items -->  
             
             <div class="bill-container">
                 <div class="bill-container-title">
                     <h2>Bills</h2>
                 </div>
                 <div class="bill-container-items">

                    {% for product in products %}
                     <div><h3></h3>{{product.productName}}</div>
                     <div class="bill-content">
                        <div  class="bill-items-unit"><h3 id="#quantity"></h3>{{ cart }}</div>
                        <div class="item-price">${{ totalAmtCart.total }}</div>
                    </div>
                    {% endfor %}
                     
                     
                 </div>

                 {% comment %} <div class="bill-container-items">
                     
                     <div><h3>Bournvita</h3></div>
                     
                     <div class="bill-content">
                         <div class="bill-items-unit">x 3</div>
                         <div class="item-price">$22</div>
                     </div>
                 </div> {% endcomment %}
                 <div>----------------------------------</div>
                 <div class="bill-total">
                     <h3>Total</h3>
                     <h3>$12</h3>
                 </div>
                 <div class="bill-payment-method">
                     <h3>Payment Method</h3>
                     <div style="display:flex; justify-content:space-between;">
                         <div class="bill-payment-card">
                             <img src="{% static 'inventory/images/cash.png' %}" alt="">
                             <h5>Cash</h5>
                         </div>
                         <div class="bill-payment-card">
                             <img src="{% static 'inventory/images/credit-card.png' %}" alt="">
                             <h5>Card</h5>
                         </div>
                         <div class="bill-payment-card">
                             <img src="{% static 'inventory/images/bitcoin-wallet.png' %}" alt="">
                             <h5>Crypto</h5>
                         </div>
                     </div>
                 </div>
                 <div class="pay-button">
                     
                     <a href="{% url 'checkout' %} "><button type="button" class="">Confirm Payment</button></a>
                 </div>
             </div>
        </div>
        
    </div>
</section>
<script type="text/javascript" src="{% static 'inventory/index.js' %}"></script>
<script>
    var i = 0;
    function buttonClick() {
        document.getElementById('inc').value = ++i;
    }
</script>
<script src="https://unpkg.com/htmx.org@1.6.0"></script>
<script>
        document.body.addEventListener('htmx:configRequest', (e) => {
          e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          })
</script> 
{% endblock %}