{% extends "inventory/index.html" %}
{% load static %}

{% block content %}
<section id="dashboard">
    <div class="main">
        <a href="/index.html">
            <h1>Anjie<span style="color:rgb(126, 48, 106)">Stores</span></h1>
        
        </a>
        <!-- dashboard cards -->
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Top Category</div>
                    <div class="number">Beverages</div>
                    <div class="indicator">
                        <i class='bx bx-up-arrow-alt'></i>
                        {% comment %} <span class="text">Up from yesterday</span> {% endcomment %}
                    </div>
                </div>
                <i class='bx bx-cart-alt cart'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Sales</div>
                    <div class="number">{{total_sales}}</div>
                    <div class="indicator">
                        <i class='bx bx-up-arrow-alt'></i>
                        {% comment %} <span class="text">Up from yesterday</span> {% endcomment %}
                    </div>
                </div>
                <i class='bx bxs-cart-add cart two'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Return</div>
                    <div class="number">${{returns}}</div>
                    <div class="indicator">
                        <i class='bx bx-up-arrow-alt'></i>
                        {% comment %} <span class="text">Up from yesterday</span> {% endcomment %}
                    </div>
                </div>
                <i class='bx bx-cart cart three'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Top Product</div>
                    <div class="number">{{test.productName}}</div>
                    <div class="indicator">
                        <i class='bx bx-down-arrow-alt down'></i>
                        {% comment %} <span class="text">Down From Today</span> {% endcomment %}
                    </div>
                </div>
                <i class='bx bxs-cart-download cart four'></i>
            </div>
        </div>
    
        <div class="cards">
            
            <div class="card-table">
                <div class="cards-title">
                    <h3>Top 5 Sales(Returns)</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Sales id</th>
                            <th>Payment Method</th>
                            <th>No of Items</th>
                            <th>Date of Transaction</th>
                            <th>Grand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for top_sale in top_sales %}
                            <tr>
                                <td>{{top_sale.id}}</td>
                                <td>{{top_sale.paymentMethod}}</td>
                                <td>{{top_sale.noOfItems}}</td>
                                <td>{{ top_sale.date_added|date:"Y-m-d" }}</td>
                                <td>{{top_sale.grand_total}}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
    
            <div class="card-table">
                <div class="cards-title">
                    <h3>Top 5 Sales(Purchase Frequency)</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Product id</th>
                            <th>Product Name</th>
                            <th>Frequency</th>
                            <th>Total Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in a_list %}
                            <tr>
                                <td>{{i.productsID}}</td>
                                <td>{{i.productName}}</td>
                                <td>{{i.count}}</td>
                                <td>{{i.total}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <div class="card-table">
                <div class="cards-title">
                    <h3>Total Returns(Last 5 Months)</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Product id</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Total Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Milo</td>
                            <td>Beverages</td>
                            <td>20000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>LG washing machine</td>
                            <td>Electronics</td>
                            <td>200000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="card-table">
                <div class="cards-title">
                    <h3>Top Categories</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Product id</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Total Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Milo</td>
                            <td>Beverages</td>
                            <td>20000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>LG washing machine</td>
                            <td>Electronics</td>
                            <td>200000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Super Mik</td>
                            <td>Premium</td>
                            <td>1000000000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
</section>
{% endblock %}