{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AnjieStores</title>
        <link rel="stylesheet" href="{% static 'inventory/style.css' %}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    </head>

    <body>
        <div class="sidebar">
            <div class="div-img">
                <img src="{% static 'inventory/images/user.png' %}" alt="current user">
                <h2>{{user}}</h2>
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-server"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'usr_mgt' %}"> 
                        <i class="fas fa-concierge-bell"></i>
                        <span>User Management</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'categories' %}">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'order' %}">
                        <i class="fas fa-cog"></i>
                        <span>Order</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'products' %}">
                        <i class="fas fa-question-circle"></i>
                        <span>Products</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'pos' %}">
                        <i class="fas fa-cog"></i>
                        <span>POS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login_page' %}">
                        <i class="fas fa-cog"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main content -->
        {% block content %}
        
        {% endblock %}
    </body>
</html>