

<form method="POST" id="post-form">
    {% csrf_token %}
    <label for="prodName">Product name:</label><br>
    <select id="prodName">
        <option value="" disabled selected>
            {% for product in products %}
                <option value="{{ product.productsID }}">{{ product }}</option>
            {% endfor %}
        </option>
    </select>
    <label for="lname">Quantity:</label><br>
    <input type="number" id="qty" name="qty"><br><br>
    <input type="submit" value="Submit">
</form>

<table>
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Milo</th>
            <th>5</th>
        </tr>
    </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var price
    var total
    var product_json = '{{ product_json }}'
    if (product_json == "" || product_json == "{}") {
        product_json = {}
    } else {
        product_json = product_json.replaceAll('&quot;', '"')
        product_json = jQuery.parseJSON(product_json)
    }
    arr = [1,2]
    arr = JSON.stringify(arr)

    let randData = []
    $(document).on('submit','#post-form',function(e){
        e.preventDefault();
        var prodName = $("#prodName").val();
        var qty = $("#qty").val();
        prodName = parseInt(prodName);
        
        let tableData = {
            id: $('#prodName').val(),
            qty: document.getElementById('qty').value,
        }
        randData.push(tableData);
        console.log(randData);
        randData = JSON.stringify(randData)
        for(var i = 0; i < product_json.length; i++) {
            console.log(prodName)
            if(product_json[i].id === prodName) {
                price = product_json[i].price
                productName = product_json[i].name
            }
        }
        total = price * qty
        var row = "<tr><td>" + productName + "</td><td>" + qty + "</td><td>" + total + "</td></tr>" 
        $("table tbody").append(row);
        
        

        $.ajax({
            type: 'POST',
            method: 'POST',
            url: '{% url "test_save" %}',
            dataType: 'json',
            data: {
                productID: $('#prodName').val(),
                productName: productName,
                qty: $('#qty').val(),
                total: total,
                randData:randData,
                arr,arr,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json){
                console.log("hi")
                
                    
                
            }
        })
    })
</script>