
<form method="POST" id="post-form">
    {% csrf_token %}
    <fieldset>
        <label for="prodID">Product name:</label><br>
        <select id="prodID">
            <option value="" disabled selected>
                {% for product in products %}
                    <option value="{{ product.productsID }}">{{ product }}</option>
                {% endfor %}
            </option>
        </select>

        <div>
            <label for="lname">Quantity:</label><br>
            <input type="number" id="qty" name="qty"><br><br>
        </div>
        
        <div>
            <button type="button" id="add_item">Add Item</button>
        </div>
    </fieldset>

    <fieldset>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>All <input type="checkbox" id="select-all"></th>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="select-row"></td>
                        <td>example</td>
                        <td>example</td>
                        <td>example</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var price
    var total
    var productName
    var product_json = '{{ product_json }}'
    if (product_json == "" || product_json == "{}") {
        product_json = {}
    } else {
        product_json = product_json.replaceAll('&quot;', '"')
        product_json = jQuery.parseJSON(product_json)
    }
    var prod_arr = {}
    if (Object.keys(product_json).length > 0) {
        Object.keys(product_json).map(k => {
            prod_arr[product_json[k].id] = product_json[k]
        })
    }
    console.log(prod_arr)

    let randData = []
    $(document).ready(function(){
        $("#add_item").click(function(){
            var id = $('#prodID').val();
            var qty = $('#qty').val();
            data = prod_arr[id]
            price = data.price
            name = data.name
            console.log(price)
            console.log(name)
            total = price * qty
            {% comment %} var row = "<tr><td>" + id + "</td><td>" + qty  + "</td></tr>"  {% endcomment %}
            {% comment %} var row = "<tr><td>" + name + "</td><td>" + qty + "</td><td>" + price + "</td><td>" + total + "</td></tr>" {% endcomment %}
            {% comment %} $("table tbody").append(row); {% endcomment %}
            $("table tbody tr").last().after(
                '<tr>'+
                    '<td><input type="checkbox" id="select-row"></td>'+
                    '<td>'+name+'</td>'+
                    '<td>'+qty+'</td>'+
                    '<td>'+price+'</td>'+
                    '<td>'+total+'</td>'+
                '</tr>'
            )

            
                
            let tableData = {
                id: $('#prodID').val(),
                name: name,
                qty: document.getElementById('qty').value,
                price:price,
                total: total
            }
            
            randData.push(tableData);
            document.forms[0].reset();

            sum = 0
            for (var i = 0, l = randData.length; i < l; i++) {
                console.log(randData[i].total)
                
                sum = total+ sum
                
            }
            console.log("sum =",sum)
        })

        $("#select-all").click(function(){
            var isSelected = $(this).is(":checked");
            if(isSelected){
                $(".table tbody tr").each(function(){
                    $(this).find('input[type="checkbox"]').prop('checked', true);

                })
            }else{
                $(".table tbody tr").each(function(){
                    $(this).find('input[type="checkbox"]').prop('checked', true);
                })
            }
        })
        
    });
    
        
        
        $('#post-form').submit(function(e){
            e.preventDefault();
            randData = JSON.stringify(randData)
            console.log(randData)

            arr = [1,2]
            arr = JSON.stringify(arr)
            console.log("arr",arr)

            
            $.ajax({
                
                url: "{% url 'test_save2' %}",
                data: {
                    myTableArray: randData,
                    arr:arr,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                method: 'POST',
                dataType: 'json',

                success:function(json){
                    console.log("hi");
                }
            })
        })
    
</script>

