{% extends "inventory/index.html" %}
{% load static %}

{% block content %}
<section id="User_management">
    <div class="main">
        <a href="/index.html"><h1>Anjie<span style="color:rgb(126, 48, 106)">Stores</span></h1></a>

        <!-- user management template -->
        <div class="user-container" id="userManagement" name="userManagement">
            <h2>User Management</h2>

            
            <div class="table-container">
                <table>
                    <tr>
                        <th>Staff id</th>
                        <th>User Name</th>
                        <th>Staff position</th>
                        <th>Action</th>
                    </tr>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.employeeID }}</td>
                            <td>{{employee.user}}</td>
                            <td>{{employee.position}}</td>
                            <td>
                                <a class="Promote" href="#">Promote</a> <!-- This button will redirect to a page where you can update Staff Level -->
                                <a class="Deactivate" href="#">Deactivate</a> <!-- This button can be used to terminate staff employment or indicate that the staff doesn't work in the store again -->
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
            </div>
        </div>
    </div>

</section>
{% endblock %}