{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}"/>
    {% comment %} <link rel="stylesheet" href="{% static 'inventory/style.css' %}" /> {% endcomment %}
</head>
<body>
    {% comment %} <section style="background-image: url('{{ 'users/images/sprmkt1\ \(1\).jpg' }}"> {% endcomment %}
    {% comment %} <section style="background-image: url({% static 'users/images/sprmkt.jpg' %});"> {% endcomment %}
    <section>
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="POST">
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                {% for field in form %}
                    <div class="control">
                        {{ field.label_tag }}<br>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="control">
                    <button style="text-decoration:none;" href="/index.html">Register</button> <!-- put an input tag here  -->
                </div>
            </form>
            <div  class="link">
                <a href="{% url 'login_page' %}">Already have an account?</a> 
            </div>
        </div>
    </section>
</body>
</html>